.spin {
    animation: spin 1s infinite linear;
    background-color: aqua;
    width: 150px;
    height: 150px;
    box-shadow: 40px 1px 50px rgb(12, 12, 12);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*dos*/

.circle {
    margin: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
  }
  .square {
    margin: 40px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
  }
  
  .loader {
    background: linear-gradient(to right, rgb(22, 113, 202) 75%, transparent 25%);
    animation: spin 2s infinite linear;
    
  }
  .loader:before {
    display: block;
    content: "";
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background: #222;
    border-radius: 50%;
  }

  .gelatine {
    animation: gelatine 0.5s infinite;
  }
  @keyframes gelatine {
    from,
    to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  .hinge {
    animation: hinge 2s ease infinite;
  }
  @keyframes hinge {
    0% {
      transform: rotate(0);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    20%,
    60% {
      transform: rotate(80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    40% {
      transform: rotate(60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    80% {
      transform: rotate(60deg) translateY(0);
      opacity: 1;
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translateY(700px);
      opacity: 0;
    }
  }

  .rotate-in-up-left {
    animation: rotate-in-up-left 2s ease infinite;
  }
  @keyframes rotate-in-up-left {
    0% {
      transform-origin: left bottom;
      transform: rotate(90deg);
      opacity: 0;
    }
    100% {
      transform-origin: left bottom;
      transform: rotate(0);
      opacity: 1;
    }
  }


  body {
  font-family: "Poiret One", "Open Sans", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  background: #222;
  color: white;
}
h1 {
  text-align: center;
  margin: 50px auto 50px;
  font-weight: normal;
}
p {
  margin: 1rem;
}
a{
    text-decoration: none;
    color: rgb(12, 12, 12);
}


nav {
    background-color: #333;
    overflow: hidden;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav li {
    float: left;
    width: 20%;
  }
  nav li a {
    display: block;
    align-items: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav li a:hover {
    background-color: #ddd;
    color: black;
  }

.container{
    border: 1px solid black;
    width: 500px;
    height: 800px;
    margin: 5px auto 50px auto;
    background-color: #ddd;
    box-shadow: 40px 50px 50px rgba(180, 165, 165, 0.582);
  }